body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#chart_pane {
  margin-top: 100px;
  height: 300px;
  max-width: 600px;
  margin: 0 auto;
}
#chart_pane1 {
  margin-top: 100px;
  height: 200px;
  max-width: 600px;
  margin: 0 auto;
}
#chart_pane2 {
  margin-top: 100px;  
  height: 400px;
  max-width: 400px;
  margin: 0 auto;
}
#chart_pane3 {
  margin-top: 100px;
  height: 400px;
  max-width: 400px;
  margin: 0 auto;
}
#chart_pane4 {
  margin-top: 100px;
  height: 300px;
  max-width: 700px;
  margin: 0 auto;
}